<header class="site-header px2 px-responsive">
  <div class="mt2 wrap">
    <div class="measure">
      <div class="site-titles">
        <a href="{{ "/" | relative_url }}" class="site-title">{{ site.title }}</a>
        <small class="site-subtitle">Startup addict with a zest for tech</small>
      </div>
      <nav class="site-nav">
        {% include navigation.html %}
      </nav>
      <div class="clearfix"></div>
      {% if site.show_social_icons %}
        {% include social_links.html %}
      {% endif %}
    </div>
  </div>
</header>
